$bg-color: #373737;

$card-color: #272727;

$btn-color: #C80000;
$btn-active-color: #EF0505;
$btn-disabled-color: #E0E0E0;

$white: #FFFFFF;

$Jura: 'Jura', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

@use "sass:math";
@import "mixins";
@import "lib";

// @include adaptiveValue("font-size",240 ,50);
// @include adaptiveValue("padding-right",35 ,0);

body{
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    font-family: $Montserrat;
    height: 500vh;
}

.header{
    width: 100%;
    .bg-image{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .navbar{
        padding: 20px 10%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0%;
        left: 0%;
        width: 80%;
        background-color: rgba($color: #333333, $alpha: 0.8);
        color: white;
        font-weight: 700;
        font-size: 20px;
        &-left, &-right{
            position: relative;
            display: flex;
            gap: 40px;
            width: 50%;
            align-items: center;
        }
        &-right{
            direction: rtl;
        }
        img{
            cursor: pointer;
        }
    }
}

.select{
    width: 80%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cell{
        margin-top: 30px;
        text-align: center;
        cursor: pointer;
        color: rgba($color: #FFFFFF, $alpha: 0.4); 
        img{
            padding: 30px 0 ;
        }
        .desc{
            font-weight: 500;
            font-size: 18px;                     
        }
        &:hover{
            color: $btn-active-color;
        }
    }
}

.popular{
    padding: 80px 10%;
    width: 80%;
    display: flex;
    flex-direction: column;

    &__box{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        margin-top: 20px;
        &__base{
            position: relative;
            @include adaptiveValue("width",590,300);
            img {
                width: 100%;
            }
            &__text{
                position: absolute;
                bottom: 25px;
                left: 25px;
                color: white;
                font-size: 20px;
            }
            &__arrow{
                position: absolute;
                bottom: 30px;
                right: 25px;
            }
        }
        
        &__cell{
            user-select: none;
            &:hover &__bg__plus {
                background-color: $btn-active-color;
                transition: 0.2s;
            }
            &__bg{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $card-color;
                border-radius: 10px;
                @include adaptiveValue("width",285,185);
                height: 400px;
                cursor: pointer;
                &__plus{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 40px;
                    height: 40px;
                    background-color: none;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s;
                }
            }
            &__desc{
                width: 100%;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                @include adaptiveValue("font-family",20,12);
                &__name{
                    user-select: text;
                    color: white;
                }
                &__price{
                    user-select: text;
                    display: flex;
                    gap: 20px;
                    .item{
                        color: #FFFFFF;
                        opacity: 0.5;
                        &-new{
                            color: $btn-active-color;
                        }
                    }
                }
                
            }
            
        }
    }
    #bg-image{
        user-select: none;
        position: relative;
        background: no-repeat center center/cover url("/images/knives_1.png");
        padding: 0;
        img{
            position: absolute;
            top: 50px;
            right: 30%;
            transform: translate(50%,-50%);
        }
    }
}

.new{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-family: $Jura;
        color: white;
        font-size: 28px;
        margin-bottom: 20px;
    }
    &__input{
        position: relative;
        @include adaptiveValue("width",285,400); 
        .email{
            border: 0;
            outline: 0;
            font-family: $Montserrat;
            font-size: 17px;
            background-color: #272727;
            padding: 30px 60px 30px 30px;
            color: rgba($color: #FFFFFF, $alpha: 0.5);
            width: 100%;
            border-radius: 10px;      
        }
        img{
            position: absolute;
            top: 50%;
            right: -20%;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }
    }
}

hr{
    opacity: 0.1;
}

.selected{
    color: white;
    position: relative;
    &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $btn-active-color;
        left: 0%;
        bottom: 0;
    }
}

.select{
    margin-top: 40px;
    font-size: 18px;
    color: rgba($color: #FFFFFF, $alpha: 0.5);
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-transform: uppercase;
    .word{
        cursor: pointer;
    }
}

.about{
    padding: 50px 10%;
    width: 80%;
    &__section{
        display: flex;
        width: 100%;
        gap: 50px;
        color: white;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title{
                font-family: $Jura;
                font-weight: 500;
                font-size: 35px;
            }
            .small{
                font-size: 14px;
            }
            #smaller{
                font-size: 26px;
            }
        }   
    }
}

.interesting{
    width: 80%;
    padding: 50px 10%;
    color: white;
    .title{
        font-family: $Jura;
        font-size: 36px;
        padding-bottom: 20px;
    }
    .images{
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .img{
            position: relative;
            .fader{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
                opacity: 0.6;
                border-radius: 14px;
            }
            .date{
                position: absolute;
                color: white;
                top: 10%;
                right: 10%;
            }
            .bottom{
                position: absolute;
                color: white;
                font-weight: 500;
                bottom: 5%;
                padding: 0 5%;
                font-size: 18px;
            }
            .red{
                position: absolute;
                background-color: $btn-active-color;
                width: 100%;
                height: 90px;
                bottom: 0;
                border-radius:0 0 14px 14px
            }
        }
        img{
            @include adaptiveValue("width",380,240);
            height: 100%;
        }
    }
}

.footer{
    background-color: #272727;
    width: 80%;
    padding: 50px 10%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .box{
            display: flex;
            color: white;
            gap: 20px;
            justify-content: space-between;
        }
    }
}