$bg-color: #040A0A;
$cyan-color:#43FFD2;
$darkpurple-color: #7D2253;
$pink-color: #D978AC;
$white-color: #FFFFFF;

$Cormorant: 'Cormorant', serif;
$Oswald: 'Oswald', sans-serif;

body{
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    font-family: $Oswald;
}

.absolute{
    position: absolute;
}

.clickable{
    cursor: pointer;
}

.green-text{
    color: $cyan-color;
}

.tiny-text{
    font-size: 10px;
    font-weight: 300;
}

.margin-top20{
    margin-top: 20px;
}

.title{
    font-size: 12rem;
    color: white;
    font-family: $Cormorant;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    // animation: anim 5s alternate infinite;
    span:nth-child(1){
        z-index: -1;
    }
}

.header{
    width: 100%;
    height: 1440px;
    background: no-repeat center/cover url("/images/header-img.png");
    &__half{
        background: no-repeat center/cover url("/images/header-img-half.png");
        width: 100%;
        height: 1130px;
        z-index: 10;
    }
    &__elipse-blue{
        width: 360px;
        height: 295px;
        background: #249479;
        filter: blur(150px);
        transform: rotate(43deg);
        left: 100px;
        top: 600px;
        z-index: 1;
    }
    &__elipse-red{
        width: 470px;
        height: 210px;
        right: 80px;
        top: 450px;
        background: #7D2253;
        filter: blur(150px);
        transform: rotate(-43deg);
        z-index: 1;
    }
    &__container{
        position: relative;
        margin: 20px 10%;
        width: 80%;
        &__navbar{
            display: flex;
            color: white;
            list-style: none;
            align-items: center;
            gap: 60px;
            text-transform: uppercase;
            padding: 0;
            width: 100%;
            li{
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }

        &__contacts{
            display: flex;
            flex-direction: column;
            text-align: right;
            color: white;
            margin-top: -70px;
        }

        &__socials{
            position: absolute;
            padding: 20px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(20px);
            right: 0;
            top: 300px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            svg{
                cursor: pointer;
            }
        }
        &__hero{
            font-size: 20px;
            text-align: center;
            color: white;
            letter-spacing: .1em;
        }
        &__button{
            width: min-content;
            padding: 10px 60px;
            margin-top: 40px;
            margin: 0 auto;
            background-color: $cyan-color;
            text-transform: uppercase;
        }
    }
}

@keyframes anim{
    0%{
        margin-top: 0px;
    }
    50%{
        margin-top: 20px;
    }
}